@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    width: 100vw;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: rgba(90, 90, 90);
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
}
/* 
section{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(100%/6);
    gap: 1.5rem;
    overflow-x: scroll;
    margin-top: 2rem;
} */